
.outer-box {
	position: relative;
	height: 960px;
	background: #777;
	overflow: scroll;
	
}
.center {
	width: 80%;
	margin: auto;
}

.box {
	position: relative;
	background: #ebebeb;
	padding:200;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 40px;
}
.header {
	top: 5px;
}
.nav {
	top: 10px;
}
.footer {

	top: 500px;
}
.left-section{
	position: absolute;
	top: 27%;
	background: #ebebeb;
	padding:200;
	width: 495px;
	height: 400px;
	left: 15.15%;
	text-align: center;
	padding: 30px;
}
.right-section{
	position: absolute;
	top: 27%;
	background: #ebebeb;
	padding:200;
	width: 295px;
	height: 400px;
	right: 15.15%;
	text-align: center;
	padding: 30px;
}
.h1 {
	position: absolute;
	width: 434px;
	height: 300px;
	padding: 30px;
	background: #777;
}
.section {
	padding-top: 1px;
}
.article {
	margin-top: 5%;
}
.h2 {
	position: relative;
	width: 393px;
	height: 30px;
	left: 10px;
	background: #ebebeb;
	margin-top: 120px;
	padding: 8%;

}
.h{
	margin-bottom: 10px;
}
.h3 {
	position: relative;
	width: 393px;
	height: 30px;
	left: 10px;
	background: #ebebeb;
	margin-top: 120px;
	padding: 8%;
	bottom: 100px;

}
.p {
	text-align: center;
}